In [38]:
import numpy as np
N = np.array([[1, 6],
             [2, 8],
             [3, 11],
             [3authors_price = pd.merge(authors, book, on = 'author_id', how = 'outer')
print(authors_price), 10],
             [1, 7]])
             
mean_N = np.mean(N, axis = 0)
print(mean_N)

[2.  8.4]

a_centered = N- mean_N
print(a_centered)

In [34]:
a = a_centered[:, 0]
print(a)
b = a_centered[:, 1]
print(b)
a_centered_spa = np.dot(a,b)
print(_centered_spa)
c = a_centered_spa / (a_centered.shape[0] - 1)
print(c)

[-0.5 -0.5  1.5 -0.5]
[-2.75 -0.75  2.25  1.25]
4.5
1.5

In [36]:
np.cov(N.T)[0, 1]

1.5

Pandas

In [40]:
import pandas as pd

In [41]:
authors = pd.DataFrame({'author_id':[1, 2, 3], 
                        'author_name':['Тургенев', 'Чехов', 'Островский']}, 
                       columns=['author_id', 'author_name'])
print(authors)

   author_id author_name
0          1    Тургенев
1          2       Чехов
2          3  Островский

In [49]:
book = pd.DataFrame({'author_id':[1, 1, 1, 2, 2, 3, 3], 
                     'book_title':['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'], 
                     'price':[1200, 500, 750, 2000, 100, 345, 78]}, 
                    columns=['author_id', 'book_title', 'price'])
print(book)

   author_id            book_title  price
0          1           Отцы и дети   1200
1          1                 Рудин    500
2          1     Дворянское гнездо    750
3          2      Толстый и тонкий   2000
4          2       Дама с собачкой    100
5          3                 Гроза    345
6          3  Таланты и поклонники     78

In [44]:
authors_price = pd.merge(authors, book, on = 'author_id', how = 'outer')
print(authors_price)

   author_id author_name            book_title  price
0          1    Тургенев           Отцы и дети    450
1          1    Тургенев                 Рудин    300
2          1    Тургенев     Дворянское гнездо    350
3          2       Чехов      Толстый и тонкий    500
4          2       Чехов       Дама с собачкой    450
5          3  Островский                 Гроза    370
6          3  Островский  Таланты и поклонники    290

In [45]:
top5 = authors_price.nlargest(5, 'price')
print(top5)

   author_id author_name         book_title  price
3          2       Чехов   Толстый и тонкий    500
0          1    Тургенев        Отцы и дети    450
4          2       Чехов    Дама с собачкой    450
5          3  Островский              Гроза    370
2          1    Тургенев  Дворянское гнездо    350

In [47]:
authors_stat = authors_price['author_name'].value_counts()
print(authors_stat)

Тургенев      3
Чехов         2
Островский    2
Name: author_name, dtype: int64

In [48]:
authors_price['cover'] = ['твердая', 'твердая', 'мягкая', 'мягкая', 'твердая', 'мягкая', 'твердая']
print(authors_price)

   author_id author_name            book_title  price    cover
0          1    Тургенев           Отцы и дети    450  твердая
1          1    Тургенев                 Рудин    300  твердая
2          1    Тургенев     Дворянское гнездо    350   мягкая
3          2       Чехов      Толстый и тонкий    500   мягкая
4          2       Чехов       Дама с собачкой    450  твердая
5          3  Островский                 Гроза    370   мягкая
6          3  Островский  Таланты и поклонники    290  твердая